body {
    align-items: baseline;
    background-color: white;
    margin: 100px auto;
    text-align: center;

}

 button {
   display: inline-block;
   border-radius: 10px;
   border: 1px solid rgba(#000, 0.05);
   position: relative;
   padding: 20px 30px 20px 70px;
   background: rgba(#3CA2A2 );
   color: rgba(#000, 0.5);
   cursor: pointer;
   
}
button:hover {
    box-shadow: 0 0 5px cyan,
    0 0 35px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

 h1 {
    background-image: url("/seaa.jpg");
    background-size: cover; 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(10px 10px 10px rgba(12, 68, 105, 0.237));
    font-size: 30px;
    font-weight: 5rem;
    text-transform: uppercase;
    font-family: "segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 

}